@model ChocoPlanet.Models.Order
@{
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<fieldset>
    <legend>Деталі замовлення</legend>
    <h3 class="display-label">
        Замовлення № &nbsp<b> @Model.ID</b></h3>
    <h3>
        Статус:&nbsp @Model.Status.Name</h3>
    <h3>
        Замовник:&nbsp @Model.Customer.Name</h3>
    @*<div class="display-label">
        Status:@Model.Number
    </div>
    <div class="display-label">
        Замовник:@Model.Customer</div>*@
    <table>
        <tr>
        <th colspan="3"> Кількість</th>
       
            <th>
                Продукт
            </th>
            <th>
                Ціна
            </th>
            <th>
                Разом
            </th>
            <th>
            </th>
        </tr>
        @foreach (var line in Model.OrderItems)
        {
            <tr>
                <td >
                    @using (Html.BeginForm("Add", "Order"))
                    { 
                        @Html.Hidden("ID", line.Product.ID)
                        @Html.Hidden("orderId", line.ID)
                        
                        <input type="submit" value="+" />

                    }
                </td>
                <td>
                    @line.Quantity
                </td>
                <td>
                    @using (Html.BeginForm("Minus", "Order"))
                    { 
                        @Html.Hidden("ID", line.Product.ID)
                        @Html.Hidden("orderId", line.ID)
                        
                        <input type="submit" value="-" />

                    }
                </td>
                <td>
                    @line.Product.Name
                </td>
                <td>
                    @line.Product.Price.ToString()
                </td>
                <td>
                    @(line.Quantity * @line.Product.Price)
                </td>
                <td>
                    @using (Html.BeginForm("RemoveItems", "Order"))
                    { 
                        @Html.Hidden("ID", line.Product.ID)
                        
                        @Html.Hidden("orderId", line.ID)
                         
                        <input type="submit" value="Remove" />

                    }
                    @* @Html.ActionLink("Remove", "RemoveItems", new { id = line.ID, orderId=Model.ID })*@
                </td>
            </tr>
        }
        <tfoot>
            <tr>
                <td colspan="5" align="right">
                    Total:
                </td>
                <td align="right">@Model.OrderItems.Sum(l => l.Quantity * l.Product.Price)
                </td>
            </tr>
        </tfoot>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
